.card-container {
  border: 1px solid rgb(231, 231, 231);
  margin: auto;
  position: relative;
  box-shadow: 2px 2px 0 0 rgb(182, 182, 182);
  border-radius: 5px;
  background-color: #fafafa;
  width: 75%;
  height: 100%;
}

.content-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


body {
  background: #333;
  user-select: none;
  text-align: center;
}

table {
  margin: 80px auto 10px auto;
  overflow: hidden;
  border-collapse: collapse;
}

td {
  width: 20px;
  height: 20px;
  border: 1px solid #eee;
  background: #f4f4f4
}

.cover {
  background: #39c;
}

.food {
  background: #093
}

.block {
  background: #333
}

.brake {
  background: #f00
}

.skate {
  background: #00f
}

span {
  float: left;
  margin-right: 10px
}

.box {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: 1px solid white
}
